body
{
  background-color: white;
  margin: 0;
}

header
{

  float: right;
  min-width: calc(100% - 300px);
  min-height: 100px;

  background-color: red;
}

/*Left menu bar*/
nav
{
  transition: width 1s;

  width: 200px;
  float: left;
  max-width: 200px;
  min-width: 0px;
  height: 100vh; ;
  background-color: green;
}
/*Menu button*/
#nav-spacer
{
  float: right;
  min-width: 100px;
  min-height: 100px;
  font-size: 70px;
  text-align: center;
  background-color: red;
  cursor: pointer;
  background-color: orange;
}
/*The logotype*/
nav span
{
  font-size: 100px;
}
